@import "../../assets/css/theme.scss";
.login-class {
  // 登录页头部
  .login-header {
    width: 100%;
    height: 250px;
    background: url(../../assets/img/login-top.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    .logo-content {
      display: flex;
      color: $whiteFont;
      line-height: 45px;
      padding: 15px;
      font-size: 1.2em;
      font-weight: bold;
    }
    .platform-logo {
      height: 45px;
      width: 45px;
      margin-right: 15px;
    }
    .title-content {
      position: absolute;
      left: 50%;
      bottom: 100px;
      transform: translate(-50%);
      color: $whiteFont;
      font-size: 2em;
    }
  }

  .login-main {
    width: 400px;
    margin: 40px auto;
  }
}
